body {
  margin: 0;
  user-select: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.timer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 20px;
}

.errorsNumber {
  color: red;
}

.sentence {
  display: block;
  text-align: center;
  margin-top: 40px;
  font-size: 30px;
  white-space: pre;
}

.inputWrapper {
  display: flex;
  justify-content: center;
  margin-top: 55px;

  .input {
    outline: none;
    font-size: 25px;
    width: 500px;
    height: 35px;
    border: 0;
    border-bottom: 2px solid #555;
    padding: 10px 20px;

    &.error {
      border-color: red;
    }

    &::placeholder {
      display: block;
      text-align: center;
      font-size: 20px;
    }
  }
}

.letter {
  &.active {
    color: green;
    text-decoration: underline;
  }

  &.error {
    color: red;
  }
}

.arrow {
  font-size: 15px;
  margin-left: 10px;
}
